
* {
    margin: auto;
}
.body {
    display: flex;
}


/* ------------------------------------- HEADER */
.index-header {
    background: url("static/images/header-image.png") no-repeat center center; 
    height: 40vh;
    width: 100vw;
    background-size: cover; 
}
.booking-header {
    background: url("static/images/booking-header.png") no-repeat center center;
    height: 40vh;
    width: 100vw;
    background-size: cover;
}
.login-header {
    background: url("static/images/header-login.png") no-repeat center center;
    height: 40vh;
    width: 100vw;
    background-size: cover;
}
.signout-header {
    background: url("static/images/header-logout.png") no-repeat center center;
    height: 40vh;
    width: 100vw;
    background-size: cover;
}
.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ------------------------------------- CONTENT */
.custom {
    margin: 15px;
}

/* ------------------------------------- FOOTER */
footer {
    background-color: #525252;
    width: 100vw;
    color: #fafafa;
    min-height: 30px;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.btn-blue {
    background-color: #0056B3;
}

