
* {
    margin: auto;
}
.body {
    display: flex;
}


/* ------------------------------------- HEADER */
.index-header {
    background: url("https://res.cloudinary.com/dczvqyqtp/image/upload/v1669040662/static/images/header-image.8f851dabcab7.jpg") no-repeat center center; 
    height: 40vh;
    width: 100vw;
    background-size: cover; 
}
.booking-header {
    background: url("https://res.cloudinary.com/dczvqyqtp/image/upload/v1669040660/static/images/booking-header.3b98baf64348.jpg") no-repeat center center;
    height: 40vh;
    width: 100vw;
    background-size: cover;
}
.login-header {
    
    background: url("https://res.cloudinary.com/dczvqyqtp/image/upload/v1669040658/static/images/header-login.7b296f06b56e.jpg") no-repeat center center;
    height: 40vh;
    width: 100vw;
    background-size: cover;
}
.signout-header {
    background: url("https://res.cloudinary.com/dczvqyqtp/image/upload/v1669040661/static/images/header-signup.51c2dacf206e.jpg") no-repeat center center;
    height: 40vh;
    width: 100vw;
    background-size: cover;
}
.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ------------------------------------- CONTENT */
.custom {
    margin: 15px;
}

/* ------------------------------------- FOOTER */
footer {
    background-color: #525252;
    width: 100vw;
    color: #fafafa;
    min-height: 30px;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.btn-blue {
    background-color: #0056B3;
}

