{% extends 'base.html' %}

{% block content %}

<header>
    <div class="booking-header">
        <div class="header-text">
            <h1 class="mt-5">Your Booking Overview</h1>
        </div>
    </div>
</header>
<!-- All previous bookings -->
<section>
    <div class="container">
        <div class="col-md-8 float-right mt-4 mb-4">
            <h2>Hi {{ request.user.username }}!</h2>
            <p>See your booking information down below:</p>

            {% for data in queryset %}
            <div class="col-md-8 mt-4 mb-4">
                <p>Lesson: {{ data.options }}</p>
                <p>Day: {{ data.date }} | Time: {{ data.time }}</p>
                <p>Notes: {{ data.notes }}</p>
                <a href="/edit/{{ data.id }}" class="btn btn-secondary btn-sm">Edit</a>
                <a href="/delete/{{ data.id }}" class="btn btn-secondary btn-sm" onclick="return confirm('Are you sure you want to delete this booking?')">Delete</a>
                <hr>
            </div>
            {% endfor %}
            <a class="btn btn-secondary btn-sm mt-3 mb-5" href="{% url 'booking' %}">Add New Booking</a>
        </div>
    </div>
</section>

{% endblock %}